/* certificateVerify.css */

.certificate-verify-container {
  width: fit-content;
  min-width: 42vw;
  max-width: 85vw;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 25px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
  user-select: none;
  background-color: var(--bg-color1);
  border: 2px solid var(--bg-color1);
  border-radius: 16px;
}

.certificate-verify-subcontainer1 {
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1.4vw;
}

.certificate-verify-main-title {
  background-color: var(--bg-color1);
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  margin-top: -6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.certificate-verify-main-title img {
  width: 2.6rem;
  max-width: 2.6rem;
  height: auto;
}

.certificate-verify-main-title img:nth-of-type(2) {
  display: inline-block;
  transform: scaleX(-1);
  transform-origin: center;
}

@keyframes hoverAnimation {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes initialLoadAnimation {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}

.certificate-verify-main-title h1 {
  font-family: 'Montserrat', sans-serif;
  color: var(--accent-color1);
  margin: 0 2.5vw 0 2.5vw;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 800;
  animation: initialLoadAnimation 0.8s cubic-bezier(0.4, 0.0, 0.2, 1) 2;
}

.certificate-verify-main-title:hover h1 {
  animation: hoverAnimation 0.8s cubic-bezier(0.4, 0.0, 0.2, 1) 2;
}

.certificate-verify-main-title span {
  color: var(--accent-color2);
}

.certificate-verify-close-btn {
  background-color: var(--accent-color1);
  color: var(--bg-color1);
  border: 2px solid var(--accent-color1);
  margin: -8px -12px 0 0;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  max-width: fit-content;
  height: fit-content;
}

.certificate-verify-close-btn:hover {
  background-color: var(--accent-color3);
  border: 2px solid var(--accent-color3);
  color: var(--bg-color1);
}

.certificate-verify-close-btn img {
  width: 0.9rem;
  max-width: 1rem;
  position: relative;
  display: flex;
}

.certificate-verify-subcontainer2 {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color2);
  border: 1px solid var(--bg-color2);
  text-align: justify;
  border-radius: 14px;
  padding: 5px 38px 12px 38px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certificate-verify-header {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  text-decoration-color: #8d9097;
  color: var(--accent-color1);
  text-align: center;
  margin: 30px 0 50px 0;
}

.certificate-verify-header span {
  color: var(--accent-color2);
}

.certificate-verify-subtitle1 {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.certificate-verify-subtitle1 span {
  color: var(--accent-color1);
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink-animation {
  animation: blink-animation 0.6s ease-in-out 4;
}

.certificate-verify-subtitle2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #bbc6be;
  font-family: 'Cascadia Code', sans-serif;
  max-width: fit-content;
  max-height: fit-content;
  font-size: 1.2rem;
  margin: 0 auto 30px auto;
}

.certificate-verify-subtitle2 span {
  color: #dcdcdc;
  letter-spacing: 2.5px;
  font-size: 1.25rem;
  font-weight: bold;
}

.certificate-verify-icon {
  width: 2rem;
  margin-right: 1.1rem;
}