/* participate1.css */

.participate1-container {
  width: fit-content;
  max-width: 85vw;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
  user-select: none;
  background-color: var(--bg-color1);
  border: 2px solid var(--bg-color1);
  border-radius: 16px;
}

.participate1-subcontainer1 {
  margin-top: -2px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1.4vw;
}

.participate1-back-button {
  background-color: var(--accent-color1);
  color: var(--bg-color1);
  display: flex;
  margin: auto 0;
  margin-left: -14px;
  width: 52px;
  height: 33px;
  padding: 17px 8px;
  border-radius: 12px;
  border: 1px solid var(--accent-color1);
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-out;
}

.participate1-back-button img {
  width: 20px;
}

.participate1-back-button:hover {
  background-color: var(--accent-color3);
  border: 1px solid var(--accent-color3);
}

.participate1-main-title {
  background-color: var(--bg-color1);
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  margin-top: -6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.participate1-main-title img {
  width: 2.6rem;
  max-width: 2.6rem;
  height: auto;
}

.participate1-main-title img:nth-of-type(2) {
  display: inline-block;
  transform: scaleX(-1);
  transform-origin: center;
}

@keyframes hoverAnimation {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes initialLoadAnimation {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}

.participate1-main-title h1 {
  font-family: 'Montserrat', sans-serif;
  color: var(--accent-color1);
  margin: 0 2.5vw 0 2.5vw;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 800;
  animation: initialLoadAnimation 0.8s cubic-bezier(0.4, 0.0, 0.2, 1) 2;
}

.participate1-main-title:hover h1 {
  animation: hoverAnimation 0.8s cubic-bezier(0.4, 0.0, 0.2, 1) 2;
}

.participate1-main-title span {
  color: var(--accent-color2);
}

.participate1-close-btn {
  background-color: var(--accent-color1);
  color: var(--bg-color1);
  border: 2px solid var(--accent-color1);
  margin: 7px 5px 0 0;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  max-width: fit-content;
  height: fit-content;
}

.participate1-close-btn:hover {
  background-color: var(--accent-color3);
  border: 2px solid var(--accent-color3);
  color: var(--bg-color1);
}

.participate1-close-btn img {
  width: 1rem;
  max-width: 1rem;
  position: relative;
  display: flex;
}

.participate1-subcontainer2 {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color2);
  border: 1px solid var(--bg-color2);
  text-align: center;
  border-radius: 14px;
  padding: 14px 35px 0 35px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.participate1-subtitle1 {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  text-decoration-color: #8d9097;
  color: var(--accent-color3);
  text-align: center;
  margin: 25px 0 20px 0;
}

.participate1-subtitle1 span {
  color: var(--accent-color2);
}

.participate1-subtitle2 {
  font-size: 1rem;
  width: 460px;
  text-align: justify;
  line-height: 1.6;
  color: var(--accent-color2);
  margin: 30px 38px 40px 38px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin: 0 auto 20px auto;
  padding-left: 15px;
}

.input-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.input-area label {
  font-size: 1.2rem;
  font-weight: 600;
  width: 80px;
  margin-right: 2px;
  color: var(--accent-color2);
  text-align: left;
}

.input-field {
  width: 280px;
  padding: 8px 12px;
  font-size: 1.15rem;
  border-radius: 8px;
  border: 2px solid var(--accent-color1);
  background-color: var(--bg-color2);
  color: var(--accent-color2);
  transition: border-color 0.3s ease;
}

.input-field:focus {
  outline: none;
  border-color: var(--accent-color3);
}

.validation-tick {
  width: 20px;
  margin-left: 18px;
}

.participate1-proceed-btn-disabled:disabled {
  width: fit-content;
  font-weight: 600;
  font-size: 20px;
  background-color: var(--bg-color1);
  color: #6a707c;
  margin: 32px auto 6px auto;
  padding: 10px 28px;
  border: 2.5px solid #6a707c;
  border-radius: 40px;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in;
}

.participate1-proceed-btn-enabled {
  width: fit-content;
  font-weight: 600;
  font-size: 20px;
  background-color: var(--accent-color1);
  color: var(--bg-color1);
  margin: 32px auto 6px auto;
  padding: 10px 28px;
  border: 2.5px solid var(--accent-color1);
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.participate1-proceed-icon {
  margin-left: 18px;
  width: 20px;
  vertical-align: middle;
}

.participate1-proceed-btn-enabled:hover {
  background-color: var(--accent-color3);
  border: 2px solid var(--accent-color3);
}

.participate1-proceed-btn-enabled:hover .participate1-proceed-icon {
  transform: translateX(3px);
}

.participate1-loader-container {
  background-color: var(--bg-color1);
  margin: 32px auto 6px auto;
  padding: 6px 0;
  cursor: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.participate1-loader {
  width: 25px;
  height: 25px;
  border: 5px solid var(--bg-color2);
  border-radius: 50%;
  border-top: 5px solid var(--accent-color1);
  border-bottom: 5px solid var(--accent-color1);
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}