/* participate0.css */

.participate0-container {
  width: fit-content;
  max-width: 85vw;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
  user-select: none;
  background-color: var(--bg-color1);
  border: 2px solid var(--bg-color1);
  border-radius: 16px;
}

.participate0-subcontainer {
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1.4vw;
}

.participate0-main-title {
  background-color: var(--bg-color1);
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  margin-top: -6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.participate0-main-title img {
  width: 2.6rem;
  max-width: 2.6rem;
  height: auto;
}

.participate0-main-title img:nth-of-type(2) {
  display: inline-block;
  transform: scaleX(-1);
  transform-origin: center;
}

@keyframes hoverAnimation {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes initialLoadAnimation {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}

.participate0-main-title h1 {
  font-family: 'Montserrat', sans-serif;
  color: var(--accent-color1);
  margin: 0 2.5vw 0 2.5vw;
  text-align: center;
  font-size: 3.3rem;
  font-weight: 800;
  animation: initialLoadAnimation 0.8s cubic-bezier(0.4, 0.0, 0.2, 1) 2;
}

.participate0-main-title:hover h1 {
  animation: hoverAnimation 0.8s cubic-bezier(0.4, 0.0, 0.2, 1) 2;
}

.participate0-main-title span {
  color: var(--accent-color2);
}

.participate0-close-btn {
  background-color: var(--accent-color1);
  color: var(--bg-color1);
  border: 2px solid var(--accent-color1);
  margin: -8px -12px 0 0;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  max-width: fit-content;
  height: fit-content;
}

.participate0-close-btn:hover {
  background-color: var(--accent-color3);
  border: 2px solid var(--accent-color3);
  color: var(--bg-color1);
}

.participate0-close-btn img {
  width: 0.9rem;
  max-width: 1rem;
  position: relative;
  display: flex;
}

.participate0-instructions-container {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-color2);
  border: 1px solid var(--bg-color2);
  text-align: justify;
  border-radius: 14px;
  padding: 5px 38px 12px 38px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.participate0-instructions-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  text-decoration-color: #8d9097;
  color: var(--accent-color3);
  text-align: center;
  margin: 30px 0 40px 0;
}

.participate0-instructions-title span {
  color: var(--accent-color2);
}

.participate0-instruction-item {
  margin-bottom: 15px;
}

.participate0-instruction-item p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.7;
  color: var(--accent-color2);
}

.participate0-instruction-item span:first-of-type {
  font-size: 1.1rem;
  font-weight: 800;
}

.participate0-highlight {
  color: var(--accent-color3);
  font-weight: bold;
}

.participate0-agreement {
  max-width: fit-content;
  max-height: fit-content;
  border: none;
  outline: none;
  padding: 0;
  background-color: var(--bg-color2);
  margin: 2.2rem 0 1.8rem 0.16rem;
  cursor: pointer;
}

.participate0-agreement:hover span {
  color: var(--accent-color3);
}

.participate0-agreement-icon {
  width: 1.25rem;
  margin-top: 1px;
  margin-right: 18px;
}

.participate0-agreement span {
  font-size: 17px;
  font-weight: 400;
  color: var(--accent-color2);
  line-height: 1.5;
  font-style: italic;
  vertical-align: top;
}

.participate0-proceed-btn-disabled:disabled {
  width: fit-content;
  height: 3.2rem;
  align-self: center;
  font-weight: 600;
  font-size: 22px;
  background-color: var(--bg-color1);
  color: #6a707c;
  margin: 36px 0 12px 0;
  padding: 8px 48px;
  border: 2.5px solid #6a707c;
  border-radius: 40px;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in;
}

.participate0-proceed-btn-enabled {
  width: fit-content;
  height: 3.2rem;
  align-self: center;
  font-weight: 600;
  font-size: 22px;
  background-color: var(--accent-color1);
  color: var(--bg-color1);
  margin: 36px 0 12px 0;
  padding: 8px 30px;
  border: 2px solid var(--accent-color1);
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.participate0-proceed-icon {
  margin-left: 18px;
  width: 20px;
  vertical-align: middle;
}

.participate0-proceed-btn-enabled:hover {
  background-color: var(--accent-color3);
  border: 2px solid var(--accent-color3);
}

.participate0-proceed-btn-enabled:hover .participate0-proceed-icon {
  transform: translateX(3px);
}