/* PdfModal.css */

.pdf-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pdf-modal-content {
  background-color: var(--bg-color1);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 16px;
  width: fit-content;
  height: min-content;
  max-height: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pdf-modal-close-btn img {
  max-width: 0.8rem;
  position: relative;
  display: flex;
}

.pdf-modal-close-btn {
  background-color: var(--accent-color1);
  color: var(--bg-color1);
  border: 2px solid var(--accent-color1);
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  margin: 0 0 12px 0;
  max-width: fit-content;
  align-self: flex-end;
}

.pdf-modal-close-btn:hover {
  background-color: #6ff5a2;
  border: 2px solid #6ff5a2;
  color: var(--bg-color1);
}

/*
@media (max-width: 768px) {
  .pdf-modal-content {
    width: 90%;
    height: 70%;
  }
}
*/